.body {
    background-image: url("harry&.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    color: white;

}
.blinking{
    animation:blinkingText 2s infinite;
}
@keyframes blinkingText{
    0%{     color: #ccc;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}
